aiodogstatsd==0.16.0.post0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.0
arrow==1.2.3
asgiref==3.6.0
async-timeout==4.0.2
atproto==0.0.12
attrs==22.2.0
bases==0.2.1
binaryornot==0.4.4
blinker==1.6.2
Brotli==1.0.9
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cookiecutter==2.1.1
coreapi==2.3.3
coreschema==0.0.4
dacite==1.8.1
dag-cbor==0.3.2
dill==0.3.6
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.4
django-hashid-field==3.3.7
django-rest-passwordreset==1.3.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.4
exceptiongroup==1.1.1
filelock==3.12.0
Flask==2.3.2
frozenlist==1.3.3
geographiclib==2.0
geoip2==4.6.0
geopy==2.3.0
gunicorn==20.1.0
h11==0.14.0
hashids==1.3.1
httpcore==0.17.2
httpx==0.24.1
httpx-ws==0.3.1
humanize==4.6.0
idna==3.4
inflection==0.5.1
itsdangerous==2.1.2
itypes==1.2.0
Jinja2==3.1.2
jinja2-time==0.2.0
jsonschema==4.17.3
MarkupSafe==2.1.3
maxminddb==2.2.0
molotov==2.6
multidict==6.0.4
multiformats==0.2.1
multiformats-config==0.2.0.post4
multiprocess==0.70.14
mysql-connector-python==8.0.32
packaging==22.0
peewee==3.16.2
Pillow==9.5.0
pipenv==2023.4.29
platformdirs==3.5.0
prompt-toolkit==3.0.38
psycopg2==2.9.6
psycopg2-binary==2.9.5
PyJWT==2.7.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.0
pytz==2022.7
PyYAML==6.0
requests==2.28.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
salvo==0.2
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.3
swagger-spec-validator==3.0.3
text-unidecode==1.3
typing-validation==1.0.0.post2
typing_extensions==4.5.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.13
virtualenv==20.23.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
Werkzeug==2.3.4
whitenoise==6.2.0
wsproto==1.2.0
yarl==1.8.2
